@page
@model DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<form method="post" asp-page="books/create">
    <div>@Model.Title</div>
    <div>@Model.Authors</div>
    <input type="submit" value="Delete" />
</form>

